<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.61.0.0" targetFramework="native" />
  <package id="dirent" version="1.13.1" targetFramework="native" />
  <package id="MySql.ConnectorNET.Data" version="6.8.3.2" targetFramework="native" />
  <package id="MySql.Data" version="6.9.9" targetFramework="native" />
  <package id="SyntaxHighlighter.NuGet" version="3.0.83.01" targetFramework="native" />
  <package id="VisualLeakDetector" version="2.5.0.0" targetFramework="native" />
</packages>